*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: 'IBM Plex Sans', 'Inter', 'Helvetica', sans-serif;
  font-weight: 18;
  line-height: 1.5;

  --dark-grey: hsl(0, 0%, 14%);
  --light-grey: hsl(0, 0%, 55%);
  --light: hsl(0, 0%, 98%);
  --dark-blue: hsl(228, 45%, 44%);
  --light-blue: hsl(228, 91%, 70%);
  --pin: hsl(0, 61%, 57%);
}

pre,
code {
  font-family: 'IBM Plex Mono', 'Roboto Mono', monospace;
}

button,
input {
  font: inherit;
  color-scheme: light dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  line-height: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--light);
    color: var(--dark-grey);
  }

  .attribution a {
    color: var(--dark-blue);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background: var(--dark-grey);
    color: var(--light)
  }

  .attribution a {
    color: var(--light-blue)
  }
}